<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.bulletin_board.mapper.PostMapper">

    <select id="getAllPosts" resultType="Post">
        SELECT * FROM post p
        WHERE p.is_deleted = false
        <if test="lastPostId != null">
            AND p.post_id &lt; #{lastPostId}
        </if>
        ORDER BY p.post_id DESC
        LIMIT 5;
    </select>

    <select id="getPostById" resultType="Post">
        SELECT * FROM post WHERE post_id = #{postId} AND is_deleted = false
    </select>

    <insert id="insertPost" parameterType="Post" useGeneratedKeys="true" keyProperty="postId">
        INSERT INTO post (title, content, creation_date, modification_date, views, author, password, is_deleted)
        VALUES (#{title}, #{content}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, #{views}, #{author}, #{password}, #{isDeleted})
    </insert>

    <update id="updatePost" parameterType="Post">
        UPDATE post
        SET content = #{content},
            modification_date = CURRENT_TIMESTAMP
        WHERE post_id = #{postId}
    </update>

    <update id="deletePost" parameterType="Post">
        UPDATE post
        SET is_deleted = true
        WHERE post_id = #{postId}
    </update>

    <update id="incrementViews" parameterType="Long">
        UPDATE post
        SET views = views + 1
        WHERE post_id = #{postId}
    </update>

</mapper>
